annotated-types==0.7.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.2
cloudscraper==1.2.71
curl_cffi==0.12.0
dotenv==0.9.9
fake-useragent==2.2.0
greenlet==3.2.3
idna==3.10
nexus-rpc==1.1.0
protobuf==5.29.5
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pyparsing==3.2.3
python-dotenv==1.1.1
requests==2.32.4
requests-toolbelt==1.0.0
SQLAlchemy==2.0.42
temporalio==1.15.0
types-protobuf==6.30.2.20250703
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
